doctype html
html
  head
    link(rel="stylesheet" href="css/semantic.min.css" type="text/css")
    link(rel="stylesheet" href="css/app.css" type="text/css")
    title Pension Calculator
  body
    div(id="root")
    if dev
      script(type="text/javascript" src="js/app.js")
    else
      script(type="text/javascript" src="js/app.min.js")


    